<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Import our custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="background"></div>
    <nav class="navbar navbar-expand-lg">
        <img id="logo" src="{{url_for('static', filename='images/logo.png')}}">
        <a class="nav" id="header" href="/">ContentShield</a>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 nav-link px-3">
                <li class="nav-item px-3">
                    <a class="nav" href="/">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav" href="/about">About</a>
                </li>
            </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
</body>

</html>